TAVILY_API_KEY=
OPENAI_API_KEY=
RESEARCH_PROFILE_PATH=research_profiles/health_science.yaml
PRIMARY_TRUSTED_SOURCES=PubMed (pubmed.ncbi.nlm.nih.gov),The Lancet (thelancet.com),Nature Medicine (nature.com/nm),ScienceDirect (sciencedirect.com),National Institutes of Health (NIH) (nih.gov),World Health Organization (WHO) (who.int),Centers for Disease Control and Prevention (CDC) (cdc.gov),MedlinePlus (medlineplus.gov)
SECONDARY_TRUSTED_SOURCES=Google Scholar,ScienceDaily (sciencedaily.com),Medical News Today (medicalnewstoday.com),Healthline (healthline.com),Everyday Health (everydayhealth.com),Harvard Health Blog (health.harvard.edu),Kaiser Health News (KHN) (kffhealthnews.org),WebMD Doctors Blog (webmd.com),MobiHealthNews (mobihealthnews.com),HIMSS (Healthcare Information and Management Systems Society) (himss.org),American Public Health Association (APHA) (apha.org),TEDMED (tedmed.com)